@page
@using NetGram.Models.Interfaces
    
@inject INetGram NetGramInjection

@{
    var netGramPosts = await NetGramInjection.GetAllPosts();
}

@foreach (var item in netGramPosts)
{
    <p>@item.Author</p>
    <p>@item.Description</p>
    <a asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a>
}

<a asp-page="/Posts/Manage">Manage</a>